.panda-container {
    position: fixed;
    bottom: 25px;
    right: 20px;
    width: 160px;
    height: 160px;
    pointer-events: none;
    z-index: 999999; /* <- bump this way up */
}

.panda-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.panda-counter {
    position: absolute;
    top: -20px;
    right: -10px;
    background: #a5102c;
    color: white;
    font-size: 14px;
    padding: 4px 8px;
    border-radius: 12px;
    font-weight: bold;
    pointer-events: none;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}
